.boxAgent {
  width: 3.57vw;
  height: 7vh;
  background-size: 100% 100%;
  cursor: pointer;
}

.selectedBox {
  width: 4.2vw;
  height: 7.5vh;
  background-color: rgba(17, 17, 17, 0.85);
  background-blend-mode: overlay;  
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

